*{
  margin: 0;
  box-sizing: border-box;
  text-align: center;
}
body{
  background-color: #b46e54;
}
.App{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.content{
  display: flex;
  width: 35vw;
  min-width: 45vw;
  border-radius: 30px;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #4a7979;
}
#mathContent{
  margin-top: 10px;
}
.modal{
  position: fixed;
  margin: 0 auto;
  width: 100vw;
  height: 100vh;
  background-color: rgba(75, 89, 89, 0.4);
  z-index: 10;
}
.modalContent{
  position: relative;
  margin: 0 auto;
  min-width: 200px;
  min-height: 150px;
  max-width: 350px;
  max-height: 250px;
  background-color: #79c7c7;
  z-index: 10;
}
.closeButton{
  position: absolute;
  right: 0;
  top: -5px;
  font-size: 1.25rem;
  font-weight: bold;
  cursor: alias;
  user-select: none;
}
.symbol{
  font-size:5rem;
  margin-top: -10px;
}
.expression{
  min-width: 20vw;
}
.variable{
  min-width: 4vw;
}
.button{
  min-width: 4vw;
  min-height: 4vh;
}
